<div *ngIf="loading" class="loader" style="height: 100vh">
  <div class="middle">
    <div class="sk-spinner sk-spinner-double-bounce">
      <div class="sk-double-bounce1"></div>
      <div class="sk-double-bounce2"></div>
    </div>
  </div>
</div>
<div id="outlet" #outlet [style.visibility]="!loading ? 'visible' : 'hidden'" [class]="activeRoutingHome ? 'outlet-content home-bg' :'outlet-content'">
  <!-- <app-navbar></app-navbar> -->
  <div class="outlet-display">
    <router-outlet #appOutlet="outlet"></router-outlet>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
